.header__logo {
    padding-bottom: 40px;
    padding-top: 40px;
    transition: all .66s;
}
@media screen and (max-width: 475px) {
    .header__logo {
        max-width: 104px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}