@import url(./__delete/button__delete.css);
@import url(./__like/button__like.css);

.button {
    padding: 0;
    background-color: Transparent;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
}