.auth__button-submit {
  margin-top: 216px;
  width: 100%;
  min-height: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  border: 0;
  color: #000;
  background-color: #fff;
  border-radius: 2px;
}

.auth__button-submit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 475px) {
  .auth__button-submit {
    font-size: 16px;
    margin-top: 173px;
  }
}