.popup__close {
    background-image: url(../../../images/close_button.svg);
    position: fixed;
    left: 100%;
    bottom: 100%;
    border: 0;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 475px) {
    .popup__close {
        left: 45%;
        margin-bottom: 20px;
    }
}