.button__delete {
    background-image: url(../../../images/Trash.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 20px;
    border: none;
    display: none;
}