.header__email {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  align-self: flex-end;
  margin-left: auto;
  padding-bottom: 40px;
}

@media screen and (max-width: 760px) {
  .header__email {
    padding-bottom: 0;
    align-self: center;
    margin-left: 0;
  }
}