.profile__button-edit {
    background-image: url(../../../images/edit__button.svg);
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #fff;
    align-self: center;
}

@media screen and (max-width: 475px) {
    .profile__button-edit  {
        margin-left: 10px;
        min-width: 18px;
        min-height: 18px;
    }
}
