.header__nav {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 760px) {
  .header__nav {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding-bottom: 40px;
    transition: all .66s;
  }
}
