.auth__item {
  border: 0;
  padding: 0;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid #CCCCCC;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 30px;
  background: transparent;
  color: #fff;
  outline: none;
}
