.popup__form {
    border: 0;
    padding: 0;
    max-width: 430px;
    margin: 0px 36px 36px;
}

@media screen and (max-width: 475px) {
    .popup__form {
        margin: 0 24px 24px;
    }
}
@media screen and (max-width: 375px) {
    .popup__form {
        max-width: 240px;
        margin: 0px 20px 30px;
    }
}

